footer {
    display: flex;
    width: 100%;
    background-color: var(--azul);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

.logo-rodape {
    padding-top: 1rem;
    width: 120px;
    height: auto;
}

#fa {
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.media {
    padding-bottom: 1rem;
}

footer p {
    color: white;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    text-align: center;
}

@media (max-width: 600px) {
    footer p {
        padding: 5%;
    }
}